@{
    ViewData["Title"] = "Account List";
    var accounts = ViewBag.Accounts;
}

<h2>Danh sách tài khoản</h2>
<div class="row">
    @foreach (var item in accounts)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@item.Avatar" alt="@item.Name" class="img-fluid" />
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>@item.Bio</p>
                    <p><strong>Email:</strong> @item.Email</p>
                    <p><strong>SĐT:</strong> @item.Phone</p>
                    <p><strong>Địa chỉ:</strong> @item.Address</p>
                    <p><strong>Sinh nhật:</strong> @item.Birthday.ToShortDateString()</p>
                    <p>
                        <a asp-controller="NthAccount" asp-action="NthProfile" class="btn btn-success btn-block">Xem hồ sơ</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
